#cv-arrow {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    .validated {
        fill:#00AC64;
        stroke: black;
        stroke-width: 7;
        &:hover {
            cursor: pointer;
            transition: 0.5s;
        }
    }
    .soon {
        fill: #AC6700;
        stroke: black;
        stroke-width: 7;
        &:hover {
            cursor: pointer;
            transition: 0.5s;
        }
    }
}