* {
    padding: 0;
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 25px;
}

html {
  max-width: 2000px;
  margin: 0 auto;
  background-color: #DFDEDF;
}

h1 {
  @include font-title;
}

a {
  text-decoration: none;
  color: #9A9A9A;
}