section {
    max-width: 700px;
    position: relative;
    p {
        margin-left: 100px;
        line-height: 175%;
    }
}

//TITLE
section > :first-child {
    margin: 40px 0px 20px 0px;
    position: relative;
}

section > :first-child::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    border-radius: 50px;
    background-color: black;
    left: 8px;
    bottom: -35px;
}