#about {
    width: 60%;
    height: 800px;
    margin: 200px auto;
    position: relative;
    #cv-arrow {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50px;
        right: 0px;
        .validated {
            fill:#00AC64;
            stroke: black;
            stroke-width: 7;
            &:hover {
                cursor: pointer;
                transition: 0.5s;
            }
        }
        .soon {
            fill: #AC6700;
            stroke: black;
            stroke-width: 7;
            &:hover {
                cursor: pointer;
                transition: 0.5s;
            }
        }
    }
}