#contact {
    width: 60%;
    height: 700px;
    margin: 200px auto;
    position: relative;
    .btn-top {
        bottom: -150px;
    }
    section {
        max-width: 800px;
        p {
            max-width: 600px;
        }
    }
    #socials {
        width: 80%;
        margin: 75px auto;
        flex-wrap: wrap;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        gap: 50px;
        li {
            a {
                width: 330px;
                height: 100px;
                border-radius: 5px;
                display: grid;
                grid-template-columns: 20% 70%;
                align-items: center;
                justify-content: center;
                color: #FFFFFF;
                font-size: 25px;
                font-weight: 500;
                transition: 0.3s;
                img {
                    width: 64px;
                    height: 64px;
                    justify-self: flex-start;
                }
                p {
                    text-align: center;
                }
                &:hover {
                    transition: 0.3s;
                }
            }
        }
        #linkedin {
            a {
                background-color: #0E76A8;
                &:hover {
                    background-color: #0a5172;
                }
            }   
        }
        #mail {
            a {
                background-color: #BB001B;
                &:hover {
                    background-color: #910016;
                }
            }   
        }
        #github {
            a {
                background-color: black;
                &:hover {
                    background-color: rgb(43, 43, 43);
                }
            }   
        }
        #discord {
            a {
                background-color: #5865F2;
                &:hover {
                    background-color: #4a54c9;
                }
            }   
        }
    }
}