#projects {
    width: 60%;
    height: 800px;
    margin: 200px auto 0px;
    position: relative;
    #caroussel {
        width: 100%;
        margin: 100px auto;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
        column-gap: 50px;
        .project {
            width: 100%;
            max-width: 320px;
            max-height: 240px;
            background-color: black;
            overflow-y: hidden;
                p {
                    width: 100%;
                    height: 25px;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background-color: #3A3A3A;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;
                }
                .btn-project-hover {
                    transition: 0.5s;
                    position: absolute;
                    bottom: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #CACACA;
                    font-size: 12px;
                    font-weight: 600;
                    background-color: #575757;
                    border-radius: 5px;
                    width: 150px;
                    height: 30px;
                    &:hover {
                        background-color: #666666;
                    }
                }
                &:hover {
                    position: relative;
                    .btn-project-hover {
                        transition: 0.5s;
                        opacity: 1;
                    }
                    img {
                        opacity: 0.4;
                        transition: 0.5s;
                    }
                }
        }
    }
}