#skills {
    width: 60%;
    height: 800px;
    margin: 150px auto;
    position: relative;
    section {
        max-width: 800px;
    }
    .container {
        .title {
            @include font-title;
            font-size: 40px;
            margin: 50px 0 25px 0;
        }
        #languages {
            ul {
                list-style-type: none;
                margin-left: 40px;
                position: relative;
                li {
                    width: 500px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    margin: 0 0 25px 0;
                    p {
                        font-size: 20px;
                    }
                    .percentage {
                        color: #9A9A9A;
                    }
                }
                & > :nth-child(1) {
                    span {
                        width: 500px;
                        height: 15px;
                        background: linear-gradient(45deg, rgba(212,0,0,1) 80%, rgba(203,203,203,1) 0%);
                        border-radius: 50px;
                    }
                }
                & > :nth-child(2) {
                    span {
                        width: 500px;
                        height: 15px;
                        background: linear-gradient(45deg, rgba(212,0,0,1) 40%, rgba(203,203,203,1) 0%);
                        border-radius: 50px;
                    }
                }
                & > :nth-child(3) {
                    span {
                        width: 500px;
                        height: 15px;
                        background: linear-gradient(45deg, rgba(212,0,0,1) 15%, rgba(203,203,203,1) 0%);
                        border-radius: 50px;
                    }
                }
                & > :nth-child(4) {
                    span {
                        width: 500px;
                        height: 15px;
                        background: linear-gradient(45deg, rgba(212,0,0,1) 50%, rgba(203,203,203,1) 0%);
                        border-radius: 50px;
                    }
                }
                &::after {
                    content: "";
                    height: 350px;
                    width: 635px;
                    background-color: #f2f2f286;
                    position: absolute;
                    left: -75px;
                    top: -80px;
                    z-index: -1;
                    transform: rotate(5deg);
                }
            }
        }
    }
}